.info {
  padding: 16px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
}

.title {
  color: #8C8C8C;
  font-size: 14px;
}

.data {
  display: flex;
  gap: 12px;
  margin: 20px 0 4px;
}

.value {
  font-size: 24px;
}

.percent {
  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.extra {
  color: #8C8C8C;
  font-size: 12px;
}