.info {
  padding: 16px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: #ffffff;
}

.title {
  margin-bottom: 8px;
  color: #8C8C8C;
  font-size: 14px;
}

.data {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.percent {
  display: flex;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px;
  width: fit-content;

  .arrow {
    margin-right: 8px;
  }
}

.increasePercent {
  background: #E6F7FF;
  color: #1890FF;
}

.decreasePercent {
  background: #FFF7E6;
  color: #FAAD14;
}

.extra {
  color: #8C8C8C;
  font-size: 12px;
}

.extraIncrease {
  color: #1890FF;
}

.extraDecrease {
  color: #FAAD14;
}