.container {
  display: flex;
  padding: 8px;
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
  justify-content: space-between;
  background-color: #fff;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
