.container {
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.filterContainer {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 24px;
}

.row {
  cursor: pointer;
}

.product {
  display: flex;
  gap: 8px;
  align-items: center;
}

.productTitle {
  font-size: 14px;
}

.productDes {
  font-size: 12px;
  color: #8C8C8C;
}

.supplier {
  display: flex;
  gap: 8px;
  align-items: center;
}

.supplierTitle {
  font-size: 14px;
}

.supplierDes {
  font-size: 12px;
  color: #8C8C8C;
}

/* status */
.status {
  border-radius: 4px;
  padding: 4px 8px;
  text-transform: capitalize;
}

.success {
  color: #52C41A;
  background: #F6FFED;
}

.pending {
  background: #E6F7FF;
  color: #1890FF
}

.issue {
  background: #FFF0F6;
  color: #EB2F96
}

.warning {
  background: #FFF7E6;
  color: #FA8C16
}

.default {
  background: #fff;
}